/* Base Styles */
nav {
  background-color: #000000; 
  padding: 60px 0;
  text-align: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      display: inline;
      margin-right: 20px;
      padding: 4px;
      border-radius: 20px;

      a {
        position: relative;
        text-decoration: none;
        color: #fff;  
        padding: 5px 10px;
        transition: color 0.5s ease-in-out;

        &:hover {
          background-color: #e731bd2e;
          border-radius: 20px;
          transition: background-color 0.4s ease-in-out;
        }

        &.active {
          background-image: linear-gradient(45deg, #F60347, #EB32E5, #AF24FB);
          background-clip: text;
          color: transparent;
          border-radius: 20px;
          transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          border-radius: 20px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 1s;
          box-shadow: 0 0 5px 10px #ffd9f673;
        }

        &:active:after {
          box-shadow: 0 0 0 0 #e731bd2e;
          opacity: 1;
          transition: 0s;
          border-radius: 20px;
        }
      }
    }
  }
}

/* Responsive Styles */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 35px;
  left: 35px;  /* Changed to left */
  width: 30px;
  height: 30px;
  z-index: 2;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  position: absolute;
}

.nav-toggle-label span::before {
  content: '';
  top: -8px;
}

.nav-toggle-label span::after {
  content: '';
  top: 8px;
}

@media (max-width: 768px) {
  .nav-toggle-label {
    display: block;
  }

  nav ul {
    flex-direction: column;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;  /* Changed to left */
    height: 100vh;
    width: 200px;
    transform: translateX(-100%);  /* Changed to translateX(-100%) */
    transition: transform 0.3s ease-in-out;
  }

  nav ul li {
    margin: 20px 0;
  }

  .nav-toggle:checked + .nav-toggle-label + nav ul {
    transform: translateX(0);
  }
}
